<h1>Order page</h1>

<p>Product: <%= @product.title %></p>

<p>Price: <%= @product.price %></p>

<%= form_for [@product, @order] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_area :address %>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @product.title %>"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>

<% end %>